<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webfont: {{ fontName }}</title>
    <style>
      body {
        margin: 0;
        padding:10px 20px;
        background: #fff;
        color: #222;
        font-family:"Helvetica Neue", Arial, sans-serif;
      }
      h1 {
        margin: 20px 0 40px;
        font-size: 32px;
        font-weight: normal;
        text-align: center;
      }
      .icons {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
      }
      .icons__item {
          padding: 0;
          flex: 0 0 25%;
          margin-bottom: 40px;
      }
      .icons__item {
          text-align: center;
      }
      .icons__item i {
          display: block;
          cursor: pointer;
          margin-bottom: 10px;
      }
      .icons__item i {
           font-size: 64px;
      }
      .icons__item:hover {
          color: #3c90be;
      }
    </style>
    <link rel="stylesheet" href="./{{ fontName }}.css">
  </head>
  <body>
    <h1>Icons list &quot;{{ fontName }}&quot;</h1>
      <div class="icons" id="icons">
          {% for glyph in glyphs %}
              <div class="icons__item">
                <i class="{{ className }} {{ className }}-{{ glyph.name }}" aria-hidden="true"></i>
                <span>{{ className }}-{{ glyph.name }}</span>
                </div>
          {% endfor %}
      </div>
  </body>
</html>
